<!-- 
    <nav class="navbar">
        <ul> <a class="navbar-brand" style="float:left; color:yellow" href="#" style="font-size: 30px;">MUniversity</a>
       <ul class="navbar-right" style="float:right;">
           
           <li><a href="#about" style="font-size: 12px;">About</a></li>
           <li><a href="#about1" style="font-size: 12px;">Events</a></li>
           <li><a href="#about2" style="font-size: 12px;">CaseStudy</a></li>
           <li><a href="#about3" style="font-size: 12px;">Projects</a></li>
           <li><a href="#culture" style="font-size: 12px;">Culture</a></li>
           <li><a href="#service" style="font-size: 12px;">Encyclopedia</a></li>
           <li><a  href="#exam" id="examlink" style="font-size: 12px;" target="_blank" routerLink="/exam"
                    >Exam</a></li>
           <li><a href="#about5" style="font-size: 12px;">Contact</a></li>
           <li><a  style="font-size: 12px;float:right;"
             routerLink="/logout" routerLinkActive="active">Logout</a></li>
           </ul>
           
         </ul>
       </nav>
    
   <section id="about">
     <!-- <h1 style="color:black">About University</h1> -->
     <!-- <p style="color:black; font-size:20px; border-color: yellow; background:palegoldenrod">Mphasis Limited is an IT services company based in Bangalore, India. 
       The company provides infrastructure technology and applications outsourcing services, 
       as well as architecture guidance, application development and integration, and application management services. It serves financial services, telecom, logistics, and technology industries.
        Mphasis was ranked #7 in India IT companies and overall #189 by Fortune India 500.</p>
   </section>
   <section id="about1">
     <!-- <h1 style="color:black">Events</h1>
     <app-events></app-events>
     </section>
   <section id="about2">
     <!-- <h1 style="color:white">CaseStudy</h1> 
     <app-casestudy></app-casestudy>
     </section>
     
  <section id="about3">
               
   <app-project></app-project>
 </section>
   <section id="culture">
       <h1 style="color:black">Culture</h1>
   </section>
   <section id="service">
       <h1 style="color:black">Encyclopedia</h1>
       <p style="color:black; font-size:20px; border-color: yellow; background:palegoldenrod">Mphasis Limited is an IT services company based in Bangalore, India. 
         The company provides infrastructure technology and applications outsourcing services, 
         as well as architecture guidance, application development and integration, and application management services. It serves financial services, telecom, logistics, and technology industries.
          Mphasis was ranked #7 in India IT companies and overall #189 by Fortune India 500.  The company provides infrastructure technology and applications outsourcing services, 
          as well as architecture guidance, application development and integration, and application management services. It serves financial services, telecom, logistics, and technology industries.
           Mphasis was ranked #7 in India IT companies and overall #189 by Fortune India 500.</p>
   </section>
  
   
  
             
                   <section id="about5">
                     <h1 style="color:black">Contact</h1>
                       
                       </section>
                        -->
                        <!-- <app-navbar></app-navbar> -->
                        <!-- <div class="wrap-login100">
  
  <form class="login100-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <span class="login100-form-title">
    </span>

    <div class="wrap-input100" >
      <input class="input100" type="email" name="email"  
      formControlName="email"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.email.errors }"
      placeholder="Email" [(ngModel)]="email" required/>
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
      <div *ngIf="submitted &amp;&amp; loginForm.controls.email.errors" class="text-danger">
        <div *ngIf="loginForm.controls.email.errors.required">Please Enter Email </div>
        <div *ngIf="loginForm.controls.email.errors.email">Email must be a valid email address</div>
    </div>
    </div>

    <div
      class="wrap-input100"
    >
      <input
        class="input100"
        type="password"
        name="password"
        formControlName="password"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.password.errors }"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
      <div *ngIf="submitted &amp;&amp; loginForm.controls.password.errors" class="text-danger">
        <div *ngIf="loginForm.controls.password.errors.required">Please Enter Password</div>
        <div *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 4 characters</div>
    </div>
    </div>

    <div class="container-login100-form-btn">
      <button class="login100-form-btn" (click)="gotoHome()" type="button">
       Login
      </button>
    </div>
  </form>
  
</div>  -->
                      <!-- <router-outlet></router-outlet> -->
                       <!-- Button trigger modal -->
