/* body{
	width: 100%;
	height: 100%;padding:20px 20px 20 px;
}
.container{
	
width: 100%;
height: 100%;}
table{
	width:auto;
height: auto;
	
}
table tr{
	padding :20px 20px 20px;
}

  [type=img]{
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
  }
   */
   
.cards{
	width: 5cm;
}