<!-- <app-navbar></app-navbar> -->
<html>
<head>
    <!-- <link href="css/bootstrap.css" rel="stylesheet" type="text/css" /> -->
       
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
        <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> -->

</head>
  <body><app-navbar></app-navbar>
  
      <div class="card-body">
       <table><tr>
  <div class="card" *ngFor="let tt of employee | slice:pageIndex*pageSize:(pageIndex+1)*pageSize"
    (click)="showInfo(tt.eventid)" class="pointerCursor"
     style="border-style:ridge; font-size:16px; font-style: italic; padding-bottom:1cm">       
     <th style="padding :1cm 1cm 1cm">
          <img style="width:10cm; height: 10cm; padding-top: 2cm;" src="{{tt.image}}" >
        </th>
         
          <th style=" padding-left:2cm; padding-block-start: 2px;">
          <!-- <h1 style="color: black; ">{{tt.eventid}}</h1> -->
            <h1 style="color: purple;font-size:20px; font-family: 'Times New Roman', Times, serif; ">{{tt.daterow | customDate}}</h1>
          
              <a> <h1 style="color: black;font-size:23px; ">{{tt.header}}</h1></a>
            
              <h1 style="color:purple; font-size:20px; font-family: 'Times New Roman', Times, serif; ">{{tt.description}}</h1>
            </th> </div>
          </tr>  
       </table>

  
  
  </div>
  </body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></script>
 </html>