   
     <head>
      <!-- <link href="css/bootstrap.css" rel="stylesheet" type="text/css" /> -->
    
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
          integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
          crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
          integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
      <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> -->
      <!---------------bootstrap 4.5-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
    
          <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    
          
        <!------------for popup modal bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      
    </head>
    
     <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
          <a class=navbar-logo><img src="assets/3d.png" class="logo"> </a>
         <a class="navbar-brand js-scroll-trigger" href="#">
           MUniversity</a>
        
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   
           <span class="navbar-toggler-icon"></span>
         </button>
        
   
         <div class="collapse navbar-collapse flex-grow-0"style="float:right;"id="navbarSupportedContent">
           <ul class="navbar-nav float-right" style="float: right;">
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                 Add New
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" (click)="navigateToAddNewUser()">New User</a>
                 <a class="dropdown-item" (click)="navigateToAddNewUniversity()"> University</a>
                 <a class="dropdown-item" (click)="navigateToProjectTeam()">Update Project Team</a>
                 
               </div>
             </li>
   
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                 Update User Profile
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" *ngFor = "let role of roles" (ngModel)="roleToEdit" (click)="onSelectRole(role)">{{role}}</a>
                 <!-- <a class="dropdown-item" href="#">Editor</a>
                 <a class="dropdown-item" href="#">Student</a> -->
               </div>
             </li>
             <li class="nav-item dropdown">
              
               <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" (click) = "getAllClients()" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                 Universities
               </a>
               <div class="dropdown-menu" id="universities"aria-labelledby="navbarDropdownMenuLink" >              
                     <a class="dropdown-item" *ngFor = "let client of clients " (click)="getClientDetails(client.clientAutoId)"> {{client.name}}</a>            
               </div>
             </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" (click)="navigateToUpdateMyProfile()">Update Profile</a>
                <a class="dropdown-item" (click)="navigateToAddNewUniversity()"> LogOut</a>
              
                
              </div>
            </li>
   
             <!-- <li class="nav-item" style="padding-top:10px;">
               <a href="#" style="padding-left: 70px;padding-right: 40px;color: white;float: right;">Signout</a>
             </li> -->
           </ul>
         </div>
         
       </div>
       </nav>
       <div class="bg">
         <div class="welcome" *ngIf="showWelcome">
           <h2>Welcome to Muniversity!</h2>
           <h4>Agnostic University Platform</h4>
         </div>
      
         <router-outlet></router-outlet>
       
       </div>
 