body {font-family: Arial, Helvetica, sans-serif; 
   
    }

    .bg{
        background: url('https://s.abcnews.com/images/US/ucla-campus-gty-jc-200421_hpMain_2_16x9_1600.jpg') no-repeat center center/cover;
    }
.left{
padding-top: 2cm;
padding-left: 3cm;

}

.right{
  
    padding-top: 2cm;
    padding-left: 5cm;

    
    }
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color:rebeccapurple;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}



.container {
    background: url('https://s.abcnews.com/images/US/ucla-campus-gty-jc-200421_hpMain_2_16x9_1600.jpg') no-repeat center center/cover; 
    float: right;
  padding: 16px;
  height:100%;
  width:50%;
  position: fixed;
  float: right;
 
}

span.psw {
  float: right;
  padding-top: 16px;
}

