<!-- 
    <nav class="navbar">
       <ul> <a class="navbar-brand" style="float:left; color:yellow" href="#" style="font-size: 30px;">MUniversity</a>
      <ul class="navbar-right" style="float:right;">
          
          <li><a href="#about" style="font-size: 15px;">About</a></li>
          <li><a href="#about1" style="font-size: 15px;">Events</a></li>
          <li><a href="#about2" style="font-size: 15px;">CaseStudy</a></li>
          <li><a href="#about3" style="font-size: 15px;">Projects</a></li>
          <li><a href="#culture" style="font-size: 15px;">Culture</a></li>
          <li><a href="#service" style="font-size: 15px;">Encyclopedia</a></li>
          <li><a  href="#exam"  id="examlink" style="font-size: 15px;" 
                   >Exam</a></li>
          <li><a href="#about5" style="font-size: 15px;">Contact</a></li>
          <li><a  style="font-size: 15px;float:right;"
            routerLink="/logout" routerLinkActive="active">Logout</a></li>
          </ul>
          
        </ul>
      </nav>
      
  <section id="about">
    <h1 style="color:black">About University</h1> -->
    <!-- <p style="color:black; font-size:20px; border-color: yellow; background:palegoldenrod">Mphasis Limited is an IT services company based in Bangalore, India. 
      The company provides infrastructure technology and applications outsourcing services, 
      as well as architecture guidance, application development and integration, and application management services. It serves financial services, telecom, logistics, and technology industries.
       Mphasis was ranked #7 in India IT companies and overall #189 by Fortune India 500.</p>
  </section>
  <section id="about1">
 <h1 style="color:black">Events</h1> -->
    <!-- <app-events></app-events>
    </section>
  <section id="about2"> -->
    <!-- <h1 style="color:white">CaseStudy</h1> -->
    <!-- <app-casestudy></app-casestudy>
    </section>
    
 <section id="about3">
              
  <app-project></app-project>
</section>
  <section id="culture">
      <h1 style="color:black">Culture</h1>
  </section>
  <section id="service">
      <h1 style="color:black">Encyclopedia</h1>
      <p style="color:black; font-size:20px; border-color: yellow; background:palegoldenrod">Mphasis Limited is an IT services company based in Bangalore, India. 
        The company provides infrastructure technology and applications outsourcing services, 
        as well as architecture guidance, application development and integration, and application management services. It serves financial services, telecom, logistics, and technology industries.
         Mphasis was ranked #7 in India IT companies and overall #189 by Fortune India 500.  The company provides infrastructure technology and applications outsourcing services, 
         as well as architecture guidance, application development and integration, and application management services. It serves financial services, telecom, logistics, and technology industries.
          Mphasis was ranked #7 in India IT companies and overall #189 by Fortune India 500.</p>
  </section>
 
  
 
            
                  <section id="about5">
                    <h1 style="color:black">Contact</h1>
                      
                      </section> --> 
                      <!-- Button trigger modal -->

<!-- <section id="exam">
  
 <app-exam></app-exam>

 </section> --> 
<!-- <app-homepage></app-homepage> -->
<!-- nnnnnnnnnnnnnn<app-navbar></app-navbar> -->
<head>
  <!-- <link href="css/bootstrap.css" rel="stylesheet" type="text/css" /> -->

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> -->
  <!---------------bootstrap 4.5-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>

      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

      
		<!------------for popup modal bootstrap-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	
</head>
      
                     
<router-outlet></router-outlet>