<!-- <app-clientmainhomepage></app-clientmainhomepage> -->
 <div class="wrap-login100">
  
  <form class="login100-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <span class="login100-form-title">
    </span>

    <div class="wrap-input100" >
      <input class="input100" type="email" name="email"  
      formControlName="email"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.email.errors }"
      placeholder="Email" [(ngModel)]="email" required/>
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
      <div *ngIf="submitted &amp;&amp; loginForm.controls.email.errors" class="text-danger">
        <div *ngIf="loginForm.controls.email.errors.required">Please Enter Email </div>
        <div *ngIf="loginForm.controls.email.errors.email">Email must be a valid email address</div>
    </div>
    </div>

    <div
      class="wrap-input100"
    >
      <input
        class="input100"
        type="password"
        name="password"
        formControlName="password"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.password.errors }"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
      <div *ngIf="submitted &amp;&amp; loginForm.controls.password.errors" class="text-danger">
        <div *ngIf="loginForm.controls.password.errors.required">Please Enter Password</div>
        <div *ngIf="loginForm.controls.password.errors.minlength">Password must be at least 4 characters</div>
    </div>
    </div>

    <div class="container-login100-form-btn">
      <button class="login100-form-btn">
       Login
      </button>
    </div>
  </form>
  
</div> 
<!-- <div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors }" />
                  <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
                      <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                      <div *ngIf="registerForm.controls.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.password.errors }"  />
                  <div *ngIf="submitted &amp;&amp; registerForm.controls.password.errors" class="text-danger">
                      <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                      <div *ngIf="registerForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary">Register</button>
              </div>
          </form>
      </div>
  </div>
</div> -->
<h1 style="color: aliceblue; position: absolute; top: 30%; right: 27%; font-size: 48px; font-weight: 600;">Beautiful, Effective,<br><br>
  Easy-To-Use HR <br>,<br>
  Software for Growing <br><br>
  Businesses</h1>
  